p {
  color: red;
}
#user {
  background: black;
  color: green;
}

.user-info {
  font-size: 20px;
}

div p{background:indigo; color:white;}
div > p{color:red;}
div + p{background:aqua;}
/* for sibling selector */
div ~ p{}
    
}